# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore unused files
_pages/archive-layout-with-content.md
_pages/category-archive.html
_pages/cv-json.md
_pages/markdown.md
_pages/non-menu-page.md
_pages/portfolio.html
_pages/tag-archive.html
_pages/year-archive.html
